* {
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
background-image: url(/img/Backgroundform.jpg);
background-attachment: fixed;
background-size: cover;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 600px;
  margin: 0 auto;
}

.divprincipal {
  display: flex;
}

input,
select,
texturea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
